venv
.idea
idea
*.egg-info/
.installed.cjg
*.egg

dist
db.sqlite3

./fishapp/migrations/*
./fishop/settings.py
remember/*


A_for_delete

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

media/*
!*media

.local_settings
trynewblog/prod_settings.py

**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

assets/*
backups/*
my_log.txt
test.py
testiks.py
